
@media(max-width:768px){
    .home-header{
        align-items: center;
    }
    body{
        padding: 0 12px 0 12px;
     
    }
    .header-title{
        font-size: 16px;
     position: relative;
     left: 15px;
     top: 5px;
    }
    .vpn{
        font-size: 17px;
    }
    .kerakli{
        display: none;
    }
    .header-section{
        width: 100px;
        flex-direction: column;
        align-items: center;
      
    }
    .header-div{
     width: 200px;
     gap: 0;

    }
    .header-div2{
   gap: 20px;
 align-items: center;
 display: none;
       }
       .header-div3{
        display: none;
       }
       .kerak{
        display: none;
       }
       .header-section{
        display: block;
        align-items: center;
    
       }
       .section-img{
        margin-top: 200px;
        align-items: center;
       }
.section-p{
    font-size: 16px;
    width: 300px;
    line-height: 0;
    top: 100px;
}
    .section-p2{
    font-size: 14px;
    top: 20px;
    width: 270px;
    }
    .section-span{
        font-size: 17px;
    }

    .section-div{
        width: 10px;
    }
    .section-button{
        top: 80px;
    align-items: center;
        flex-direction: column;
    width: 150px;
    }
    .section-img{
        width: 250px;
        height: 200px;
        position: relative;
        top: -50px;
    }
  .main-img1{
    width: 250px;
    height: 200px;
  }
   .main-div{
    display: inline;
   }
   .main-div2{
    position: relative;
    left: -200px;

   }
   .main-p{
    font-size: 16px;
    font-weight: 500;
   }
   .main-p2{
    font-size: 14px;
    font-weight: 400;
    width: 300px;
    margin-top: -70px;
   }
   .content-p{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: -480px;
   }
   .content-p2{
    font-size: 14px;
    font-weight: 400;
    width: 270px;
    position: relative;
    left: 0;
   }
   .wrapping{
    display: inline;
  
   }
   .card{
    height: 490px;
    width: 290px;
   margin-top: 20px;
   }
   .card-img{
    width: 100px;
    height: 100px;
    position: relative;
    top: -70px;
   }
   .card-title{
    font-size: 15px;
    font-weight: 500;
    position: relative;
   left: 20px;
   }
   .card-p{
    font-size: 12px;
    font-weight: 400;
   }
   .hozircha{
    position: relative;
    top: -50px;
    left: -5px;
   }
   .card-button{
    width: 100px;
    height: 30px;
 position: relative;
 top: -180px;
   }
   .free{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -30px;
   }
   .free2{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -35px;
   }
   .card-span{
    font-size: 16px;
   }
   .card-button2{
    width: 100px;
    height: 30px;
 position: relative;
 top: -150px;
   }
   .card-button3{
    width: 100px;
    height: 30px;
 position: relative;
 top: -125px;
   }
   .free3{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -47px;
   }
   .discription-p{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: -420px;
   }
   .description-p2{
    font-size: 14px;
    font-weight: 400;
    width: 300px;
    position: relative;
    left: -420px;
    top: -70px;
   }
   .world-map{
    width: 500px;
    height: 350px;
   }
   .imglar{
    width: 400px;
position: relative;
top: -270px;
   }
   .testimonials__header h2{
    font-size: 16px;
    position: relative;
    left: -410px;

   }
   .testimonials__header p{
    font-size: 14px;
    width: 350px;
   }
 .testimonials__wrapper{
    display: inline;
 }
 .testimonials__card{
    width: 350px;
    height: auto;
    margin-top: 20px;
 }
 .testimonials__navigation{
    display: none;
 }
}